/* portfolio */

:root{
    --bgcolor : #2e2a8f;
    --fontcolor: #FFE9E8;
}

/* body styling starts */

html{
    
    height: 100%;
    }


body{

    background-color: var(--bgcolor);
    
}

.header-container-wrapper{

    background-color: var(--bgcolor);
}
/* body styling ends */

/* Portfolio section starts */

/*  Main header container */

.main-container{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5%;
}

/* Main header container ends */


/* Container header styling starts */
/* 
.main-container-header{

    
} */


/*  Container header styling ends  */

/* Professional projects sratrs */

.professional-projects-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.professional-projects-container h4{

    color: var(--fontcolor);
    font-size: 40px;
    margin: 0%;
    text-align: center;
}

.professional-projects-container h5{

    color: var(--fontcolor);
    font-size: 20px;
    margin: 0%;
}

.Professional-projects-image-viedo{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    width: 100% ;
}

.professional-projects-container a{

    display: flex;
    align-items: center;
    justify-content: center;
}

.Professional-projects-image-viedo img{

    height: 250px;
    border: 1px solid var(--fontcolor);
    padding: 5px;
    margin: 5px;
    
}

.professional-projects-container iframe{

    height: 250px;
    
    border:5px solid var(--fontcolor);

}

.professional-projects-container p{

    text-align: center;
    color: var(--fontcolor);
    
}

/* professional projects ends  */

/* personal projects starts  */

.personal-projects-container h4{

    color: var(--fontcolor);
    font-size: 40px;
    margin: 0%;
    text-align: center;
}

.personal-projects-container h5{

    color: var(--fontcolor);
    font-size: 20px;
    margin: 0%;
}

.personal-projects-image-viedo{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
}

.personal-projects-container a{

    display: flex;
    align-items: center;
    justify-content: center;
}

.personal-projects-image-viedo  img{

    
    height: 250px;
    border: 1px solid var(--fontcolor);
    padding: 5px;
    margin: 5px;
    
   
}

.personal-projects-image-viedo video{


    height: 250px;
    
    border:5px solid var(--fontcolor);

}

.personal-projects-container p{

    text-align: center;
    color: var(--fontcolor);
    
}

/* professional projects ends */

/* media query for responsive web design */

@media all and (max-width: 800px ) {

    
    .personal-projects-image-viedo , .Professional-projects-image-viedo{

        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    
}

/* media query for responsive web design ends */

/* Last picture starts */

.last-picture{

    display: flex;
    align-items: center;
    justify-content: center;
}

.last-picture img{

    width: 30%;
    border: 1px solid #1915D1;
    padding: 5px;
    margin: 5px;
}

/* Last picture starts */



/* Portfolio content section ends */



/* Portfolio section ends */